.hero {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__photo {
    max-width: 400px;
    align-self: center;
}

.hero__header {
    margin-bottom: 16px;
}

.hero__text {
    margin-top: 0;
}