* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #E5E5E5;
}

.cards {
  display: flex;
  justify-content: center;

  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;

  padding: 20px;
}